body {
    background: linear-gradient(45deg, #021f2b 0%, #896a61 99%, #1b1756 100%);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.stopwatch {
    width : 90%;
    max-width: 600px;
    background: linear-gradient(45deg, #336d84 0%, #46a34f 99%, #2a82da 100%);
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.stopwatch h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 900;
    color: black;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons img {
    width: 70px;
    margin: 0px 10px;
    cursor: pointer;
}

.buttons img:hover {
    opacity: 0.6;
}

.buttons img:nth-child(2) {
    width: 90px;
}

.stopwatch h2 {
    font-size: 54px;
    font-weight: 700;
    color: rgb(20, 21, 59);
    margin: 0;  
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    /* add a horizontal line */
    border-bottom: 2px solid rgb(20, 21, 59);
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    color: rgb(20, 21, 59);
    margin: 0;
    
}